<div class="dialogue-container">
    <div class="dialogue-messages-container" #messagesContainer>
        <div *ngFor="let message of allMessages"             
            class="message"
            [ngClass]="{'left-actor':message.actor==='left', 'right-actor':message.actor==='right'}">
        {{message.text}}
        </div>
    </div>
    
    <div class="dialogue-input">
      <textarea 
        placeholder="Type your message here..." 
        [(ngModel)]="newMessage"
        (keydown.enter)="sendMessage();$event.preventDefault()"
        (keyup.enter)="$event.preventDefault()"
        ></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>